<a href="https://colab.research.google.com/github/han2405/22_05_basic_python/blob/main/chap3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
x=10
print("x =",x)
x=3.14
print("x =",x)
x="hello world!"
print("x =", x)

x = 10
x = 3.14
x = hello world!

In [7]:
x=input("정수를 입력하시오;")
y=input("정수를 입력하시오;")
print(x+y)

정수를 입력하시오;100
정수를 입력하시오;200
100200

문자열을 숫자로 변환하지 않아서 
int(): 문자열->정수
float(): 문자열->실수

In [8]:
x=int(input("정수를 입력하시오;"))
y=int(input("정수를 입력하시오;"))
print(x+y)

정수를 입력하시오;100
정수를 입력하시오;200
300

In [10]:
t=input("정수를 입력하시오:")
x=int(t)

t=input("정수를 입력하시오:")
y=int(t)

print(x+y)

정수를 입력하시오:100
정수를 입력하시오:200
300